:root{
  --bg:#33d;
  --bg2:color-mix(in srgb, var(--bg), black 75%);
  --fg: #cc2;
  --brdr: 1px solid #cc2;
  --brdrr: 3px;
}

body {
	background: linear-gradient(0deg, var(--bg) 0%, var(--bg2) 100%);
	padding: 0px;
	color: var(--fg);
}

textarea {
	width: 49vw;
	min-height: 30vh;
	resize: vertical;
	opacity: 80%;
	border: var(--brdr);
	border-radius: var(--brdrr);
}

textarea:disabled {
	color: var(--fg);
}

button {
	padding: 4px;
	background-color: var(--bg);
	color: var(--fg);
	border: var(--brdr);
	border-radius: var(--brdrr);
	cursor: pointer;
}

#version {
	position: absolute;
    bottom: 2px;
    left: 5px;
}